{# Form used by both Add Task and Edit Task views #}

<form action="" name="add_task" method="post">
  {% csrf_token %}


  <div id="AddEditTask" class="collapse mt-3">
    <div class="form-group">
      <label for="id_title" name="title">Task</label>
      <input type="text" class="form-control" id="id_title" name="title" required placeholder="Task title"
        value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
    </div>

     <div class="form-group">
      <label for="id_organization">Organization</label>
      {# See todo.forms.AddEditTaskForm #}
      {{form.organization}}
    </div>

    <div class="form-group">
      <label for="id_title" name="title">Number of Assigned files</label>
      <input type="text" class="form-control" id="id_no_of_assigned_task" name="no_of_assigned_task" required placeholder="Enter number of files assigned"
        value="{% if form.no_of_assigned_task.value %}{{ form.no_of_assigned_task.value }}{% endif %}">
    </div>

    <div class="form-group">
      <label for="id_due_date">Created Date
</label>
      <input type="date" class="form-control" id="id_created_date" name="created_date"
        value="{% if form.created_date.value %}{{ form.created_date.value|date:"YYYY-mm-dd" }}{% endif %}">
    </div>

    <div class="form-group">
      <label for="id_due_date">Due Date</label>
      <input type="date" class="form-control" id="id_due_date" name="due_date"
        value="{% if form.due_date.value %}{{ form.due_date.value|date:"YYYY-mm-dd" }}{% endif %}">
    </div>

    <div class="form-group">
      <label for="id_created_by">Created by</label>
      {# See todo.forms.AddEditTaskForm #}
      {{form.created_by}}
    </div>

    <div class="form-group">
      <label for="id_assigned_to">Assigned To</label>
      {# See todo.forms.AddEditTaskForm #}
      {{form.assigned_to}}
    </div>

    <input type="hidden" name="priority"
      value="{% if form.priority.value %}{{ form.priority.value }}{% else %}999{% endif %}" id="id_priority">
    <input type="hidden" name="created_by" value="{{ request.user.id }}" id="id_created_by">
    <input type="hidden" name="task_list" value="{{ form.task_list.value }}" id="id_task_list">

    <p>
      <input type="submit" name="add_edit_task" value="Submit" class="btn btn-primary">
    </p>

  </div>
</form>
